.chatHeader {
    display: flex;
    align-items: center;
    text-align: center;
    background: #2979FF;
    border-radius: 4px 4px 0 0;
    height: 60px;
    width: 500px;
    vertical-align: baseline;
    margin-left: 20px;
}

.roomName {
    color: white;
    margin-bottom: 0;
}

.leftInnerContainer {
    flex: 0.5;
    display: flex;
    align-items: center;
    margin-left: 5%;
    color: white;
    padding-top: 6px;
}

.rightInnerContainer {
    display: flex;
    flex: 0.5;
    justify-content: flex-end;
    margin-right: 5%;
}


